h2 {
    background-color: darkblue;
    color: white;
}

.titulo2 {
    background-color: red;
    color: black;
}

.titulo3 {
    background-color: aqua;
    color: blue;
}

.texto-centralizado {
    text-align: center;
}